<h4 class="text-left p-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
 <div class="container">

  <p>会員ID　　　　　　<%= @customer.id %></p>

  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

  <p>氏名　　　　　　　<%= f.text_field :last_name %>　<%= f.text_field :first_name %></p>

  <p>フリガナ　　　　　<%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></p>

  <p>郵便番号　　　　　<%= f.text_field :postal_code %></p>

  <p>住所　　　　　　　<%= f.text_field :address %></p>

  <p>電話番号　　　　　<%= f.text_field :telephone_number %></p>

  <p>メールアドレス　　<%= f.text_field :email %></p>


  <p>会員ステータス<a>　　　</a>
   <%= f.radio_button :is_deleted, 'true' %>
   <%= f.label :is_deleted, '無効', value: true %>

   <%= f.radio_button :is_deleted, 'false' %>
   <%= f.label :is_deleted, '有効', value: false %>
  </p>

  <%= f.submit '変更を保存', class: "btn btn-success" %>

 <% end %>
 </div>