
   <h4 class="text-left p-2"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>

   <p class="text-left p-2">会員ID　　　　　<%= @customer.id %></p>
   <p class="text-left p-2">氏名　　　　　　<%= @customer.last_name %><%= @customer.first_name %></p>
   <p class="text-left p-2">フリガナ　　　　<%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>
   <p class="text-left p-2">郵便番号　　　　<%= @customer.postal_code %></p>
   <p class="text-left p-2">住所　　　　　　<%= @customer.address %></p>
   <p class="text-left p-2">電話番号　　　　<%= @customer.telephone_number %></p>
   <p class="text-left p-2">メールアドレス　<%= @customer.email %></p>
   <p class="text-left p-2">会員ステータス <% if @customer.is_deleted %>
      <a>無効</a>
     <% else %>
      <a>有効</a>
     <% end %></p>


   <p><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>　　<%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary" %></p>
