<p class="text p-3">　　</p>
<div class="container">
 <div class="row">
  <div class="col p-3">
   <p>ショッピングカート</p>
  </div>
  <%= button_to "カートを空にする", destroy_all_cart_items_path(@cart_items), method: :delete, class: "btn btn-danger" %>
 </div>


 <% @sum = 0%>
 <% @cart_items.each do |cart_item| %>
  <table class="table">
   <thead>
    <tr>
     <th>商品名</th>
     <th>単価(税込)</th>
     <th>数量</th>
     <th>小計</th>
     <th></th>
    </tr>
   </thead>

   <tbody>
    <tr>
     <td><%= image_tag cart_item.item.image, size: "100x100" %><%= cart_item.item.name %></td>
     <td><%= cart_item.item.add_tax_price.to_s(:dalimited) %></td>
     <td>
      <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
       <%= f.select :amount, *[1..10] %>
       <%= f.submit '変更', class: "btn btn-success" %>
      <% end %>
     </td>
     <td><%= cart_item.subtotal %></td>
     <td><%= link_to "削除", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger", "data-confirm" => "カートから削除しますか？" %></td>
    </tr>
   </tbody>
  </table>
   <p><% @sum+=cart_item.subtotal %></p>
 <% end %>

<div class="row">
 <div class="col-9">
  <p><%= link_to "買い物を続ける", items_path, class: 'btn btn-primary' %></p>
 </div>
 <div class="col-3">
  <h4>合計金額　<%= @sum %></h4>
 </div>
</div>
<p class="text-center"><%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %></p>

</div>