<h1>ショッピングカート</h1>

<% @sum = 0%>

 <% @cart_items.each do |cart_item| %>




  <%= image_tag cart_item.item.image, size: "100x100" %>

   <p>商品名</p>
   <%= cart_item.item.name %>

   <p>単価(税込)</p>
   <%= cart_item.item.add_tax_price.to_s(:dalimited) %>

  <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
   <p>数量</p>


   <p><%= f.select :amount, *[1..10] %></p>
   <p><%= f.submit '変更' %></p>
  <% end %>

   <p>小計</p>
   <%= cart_item.subtotal %>

   <p><% @sum+=cart_item.subtotal %></p>

   <p><%= link_to "削除", cart_item_path(cart_item.id), method: :delete, "data-confirm" => "カートから削除しますか？" %></p>

 <% end %>

<p>合計金額<%= @sum %></p>