<h1>注文履歴一覧</h1>

<% @orders.each do |orders| %>
 <p>注文日</p>
 <%= orders.created_at %>

 <p>配送先</p>
 〒<%= orders.postal_code %>
 <%= orders.address %><br>
 <%= orders.name %>


 <% @order_details.each do |order_detail| %>
  <p>注文商品</p>
  <%= order_detail.item.name %>
 <% end %>

 <p>支払金額</p>
 <%= orders.total_payment %>

 <span><%= link_to "表示する", order_path(orders.id) %></span>

<% end %>