<div class="container">

 <h4 class="text-left p-5">注文履歴詳細</h4>
 <div class="row">
  <div class="col-9">
   <h6>注文情報</h6>
   <p>注文日　　　<%= @order.created_at %></p>
   <p>配送先　　　〒<%= @order.postal_code %><%= @order.address %><br><%= @order.name %></p>
   <p>支払方法　　　<%= @order.payment_method_i18n %></p>
  </div>

  <div class="col-3">
   <h6>請求情報</h6>
   <p>配送料<%= @order.shipping_cost %></p>
   <p>ご請求額<%= @order.total_payment %></p>
  </div>

 </div>

 <h6>注文内容</h6>
 <table class="table">
  <% @total = 0 %>
  <% @order.order_details.each do |detail| %>
   <thead>
    <tr>
     <th>商品</th>
     <th>単価(税込)</th>
     <th>個数</th>
     <th>小計</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td><%= detail.item.name %></td>
     <td><%= detail.price %></td>
     <td><%= detail.amount %></td>
     <td><%= @total+=detail.price * detail.amount %></td>
    </tr>
   </tbody>
  <% end %>
 </table>
</div>